@using GolfV12.Shared

@inherits LasParejasBase 


<h3>Lista de retos Parejas</h3>

<div class="form-grup row">        
        <div class="col-sm-9">
            <div class="nav-item px-3">
                <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" 
                Text="Agregar parejas" 
                Click="@InsertRow" Disabled=@(ParejaToInsert != null) />
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="nav-item px-3">
               
            </div>
        </div>
    </div>
@if(LasParejas != null)
{
    <RadzenDataGrid @ref=@ParejasGrid AllowFiltering="true" AllowPaging="true" PageSize="50" 
                AllowSorting="true" EditMode="DataGridEditMode.Single"
                Data=@LasParejas TItem=G324Parejas RowUpdate="@OnUpdateRow" 
                ExpandMode="DataGridExpandMode.Single"
                RowCreate="@OnCreateRow" Style="background:lightgreen">
        <Template Context="datos1">
        <!--
            <LasBolitasRes DatosDic=@DatosDic JugadoresDic=@JugadoresDic AzarId=@datos1.Azar 
                    TarjetaId=@TarjetaId ElJugadorId=@datos1.J1 LasBolitasDic=@LasBolitasDic 
                    LosExtrasDic=@LosExtrasDic /> 
        
            <LasBolitasRes DatosDic=@DatosDic JugadoresDic=@JugadoresDic AzarId=@datos1.Azar
                    TarjetaId=@TarjetaId ElJugadorId=@datos1.J2 LasBolitasDic=@LasBolitasDic
                    LosExtrasDic=@LosExtrasDic /> 
        -->
        </Template>
        <Columns>

            <RadzenDataGridColumn TItem="G324Parejas" Property="Id" Title="Id" Width="70px" 
            Filterable="false" Sortable="false" Frozen="true">
                <Template Context="datos">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Class="m-1" 
                        Click="@(args => EditRow(datos))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="Jugador 1" Property="J1" 
                Width="150px" Filterable="false" Frozen="true">
                <Template Context="datos">
                    @if (@DatosDic.ContainsKey($"Nombre_{datos.J1}"))
                    {
                        @DatosDic[$"Nombre_{@datos.J1}"]
                    } else
                    {
                        <label>No hay nombre</label>
                    }
                
                </Template>
                <EditTemplate Context="datos">
                    <RadzenDropDown Name="Player" AllowClear="false" 
                        AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.Default" 
                        FilterOperator="StringFilterOperator.Contains"  
                        Data="@LosNombres"  @bind-Value=datos.J1 ValueProperty="Key" TextProperty="Value" 
                        Style="width:100%; display: block;">
                    </RadzenDropDown> 
                </EditTemplate>
                
            </RadzenDataGridColumn>


            <RadzenDataGridColumn TItem="G324Parejas" Title="Jugador 2" Property="J2" 
            Filterable="false"  Width="150px" Frozen="true">
                <Template Context="datos">
                    @if (@DatosDic.ContainsKey($"Nombre_{datos.J2}"))
                    {
                        @DatosDic[$"Nombre_{@datos.J2}"]
                    }
                    else
                    {
                        <b>No hay nombre</b>
                    }
                </Template>
                <EditTemplate Context="datos">
                    <RadzenDropDown Name="Player" AllowClear="false" 
                        AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.Default" 
                        FilterOperator="StringFilterOperator.Contains"  
                        Data="@LosNombres"  @bind-Value=datos.J2 ValueProperty="Key" TextProperty="Value" 
                        Style="width:100%; display: block;">
                    </RadzenDropDown> 
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="Jugador 3" Property="J3" 
            Filterable="false"  Width="150px" Frozen="true">
                <Template Context="datos">
                    @if (@DatosDic.ContainsKey($"Nombre_{datos.J3}"))
                    {
                        @DatosDic[$"Nombre_{@datos.J3}"]
                    }
                    else
                    {
                        <b>No hay nombre</b>
                    }
                </Template>
                <EditTemplate Context="datos">
                    <RadzenDropDown Name="Player" AllowClear="false" 
                        AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.Default" 
                        FilterOperator="StringFilterOperator.Contains"  
                        Data="@LosNombres"  @bind-Value=datos.J3 ValueProperty="Key" TextProperty="Value" 
                        Style="width:100%; display: block;">
                    </RadzenDropDown> 
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="Jugador 4" Property="J4" 
            Filterable="false"  Width="150px" Frozen="true">
                <Template Context="datos">
                    @if (@DatosDic.ContainsKey($"Nombre_{datos.J4}"))
                    {
                        @DatosDic[$"Nombre_{@datos.J4}"]
                    }
                    else
                    {
                        <b>No hay nombre</b>
                    }
                </Template>
                <EditTemplate Context="datos">
                    <RadzenDropDown Name="Player" AllowClear="false" 
                        AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.Default" 
                        FilterOperator="StringFilterOperator.Contains"  
                        Data="@LosNombres"  @bind-Value=datos.J4 ValueProperty="Key" TextProperty="Value" 
                        Style="width:100%; display: block;">
                    </RadzenDropDown> 
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="Unidad" Property="Precio" 
            Filterable="false"  Width="70px" Sortable=false>
                <Template Context="datos">
                    <label style="@elStyle"><b>@datos.Precio</b></label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="Precio" @bind-Value=datos.Precio ShowUpDown=false Min="1"  Max="1000" Placeholder=10  />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H1" Property="H1" 
            Filterable="false"  Width="60px" Sortable=false>
                <Template Context="datos">
                    <label style="@elStyle">@datos.H1V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H1" @bind-Value=datos.H1V  ShowUpDown=false Placeholder=1 Min="0"  Max="50"  />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H2" Property="H2" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.H2V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H2" @bind-Value=datos.H2V ShowUpDown=false Placeholder=1 Min="0"  Max="50" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H3" Property="H3" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.H3V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H3" @bind-Value=datos.H3V ShowUpDown=false  Placeholder=1 Min="0"  Max="50" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H4" Property="H4" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.H4V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H4" @bind-Value=datos.H4V ShowUpDown=false Placeholder=1 Min="0"  Max="50" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H5" Property="H5" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.H5V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H5" @bind-Value=datos.H5V ShowUpDown=false Placeholder=1 Min="0"  Max="50" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H6" Property="H6" 
            Filterable="false"  Width="60px" Sortable=false  >
                <Template Context="datos">
                    <label style="@elStyle">@datos.H6V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H6" @bind-Value=datos.H6V ShowUpDown=false  Placeholder=1 Min="0"  Max="50" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H7" Property="H7" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.H7V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H7" @bind-Value=datos.H7V ShowUpDown=false Placeholder=1 Min="0"  Max="50" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H8" Property="H8" 
            Filterable="false" Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.H8V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H8" @bind-Value=datos.H8V ShowUpDown=false Placeholder=1 Min="0"  Max="50" />
                </EditTemplate>
            </RadzenDataGridColumn>
            

            <RadzenDataGridColumn TItem="G324Parejas" Title="H9" Property="H9" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.H9V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H9" @bind-Value=datos.H9V ShowUpDown=false Placeholder=1 Min="0"  Max="50" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H10" Property="H10" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.H10V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H10" @bind-Value=datos.H10V ShowUpDown=false Placeholder=1 Min="0"  Max="50"/>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H11" Property="H11" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.H11V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H11" @bind-Value=datos.H11V ShowUpDown=false Placeholder=1 Min="0"  Max="50"/>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H12" Property="H12" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle;">@datos.H12V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H12" @bind-Value=datos.H12V ShowUpDown=false Placeholder=1 Min="0"  Max="50"/>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H13" Property="H13" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.H13V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H13" @bind-Value=datos.H13V ShowUpDown=false Placeholder=1 Min="0"  Max="50"/>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H14" Property="H14" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.H14V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H14" @bind-Value=datos.H14V ShowUpDown=false Placeholder=1 Min="0"  Max="50"/>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H15" Property="H15" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.H15V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H15" @bind-Value=datos.H15V ShowUpDown=false Placeholder=1 Min="0"  Max="50"/>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H16" Property="H16" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.H16V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H16" @bind-Value=datos.H16V ShowUpDown=false Placeholder=1 Min="0"  Max="50"/>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H17" Property="H17" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.H17V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H17" @bind-Value=datos.H17V ShowUpDown=false Placeholder=1 Min="0"  Max="50"/>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="H18" Property="H18" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.H18V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="H18" @bind-Value=datos.H18V ShowUpDown=false Placeholder=1 Min="0"  Max="50"/>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="Front9" Property="F9V" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.F9V</label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="F9V" @bind-Value=datos.F9V ShowUpDown=false Placeholder=1 Min="0"  Max="50"/>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="Back9" Property="B9V" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style="@elStyle">@datos.B9V </label>
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="B9V" @bind-Value=datos.B9V ShowUpDown=false Placeholder=1 Min="0"  Max="50"/>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="G324Parejas" Title="Total" Property="TotalV" 
            Filterable="false"  Width="60px" Sortable=false >
                <Template Context="datos">
                    <label style=@elStyle>@datos.TotalV</label> 
                </Template>
                <EditTemplate Context="datos">
                    <RadzenNumeric Name="TotalV" @bind-Value=datos.TotalV ShowUpDown=false Placeholder=1 Min="0"  Max="50"/>
                </EditTemplate>
            </RadzenDataGridColumn>


            <RadzenDataGridColumn TItem="G324Parejas" Context="sampleBlazorModelsSampleOrder" 
                    Filterable="false" Sortable="false" TextAlign="TextAlign.Center" 
                    Width="120px" Title="Estado">
                <Template Context="datos">
                    @if(datos.Status == true)
                    {
                        <b>Activo</b>
                    }
                    else
                    {
                        <b>Suspendido</b>
                    }
                </Template>

                <EditTemplate Context="datos">
                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => SaveRow(datos))">
                    </RadzenButton>
                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@((args) => CancelEdit(datos))">
                    </RadzenButton>
                </EditTemplate>

            </RadzenDataGridColumn>

        </Columns>
   </RadzenDataGrid>  
}
else
{
    <div class="spinner"></div>
}




@code {
    G324Parejas ParejaToInsert;


    async Task EditRow(G324Parejas pareja)
    {
        await ParejasGrid.EditRow(pareja);
    }
    async void OnUpdateRow(G324Parejas pareja)
    {
        if (pareja == ParejaToInsert) ParejaToInsert = null;

        await ParejasIServ.UpdatePareja(pareja);
    }
    async Task SaveRow(G324Parejas pareja)
    {
        //ext.Tarjeta = TarjetaId;

        await ParejasGrid.UpdateRow(pareja);
    }
    void CancelEdit(G324Parejas pareja)
    {
        if (pareja == ParejaToInsert) ParejaToInsert = null;
        ParejasGrid.CancelEditRow(pareja);
    }
    async Task InsertRow()
    {

        ParejaToInsert = new G324Parejas();
        ParejaToInsert.Id = Guid.NewGuid().ToString();
        ParejaToInsert.Tarjeta = TarjetaId;
        ParejaToInsert.Azar = "Vacio";
        //ParejaToInsert.J1 = UserIdLog;
        //ParejaToInsert.Publico = false;
        ParejaToInsert.Estado = 1;
        ParejaToInsert.Status = true;

        await ParejasGrid.InsertRow(ParejaToInsert);

    }
    async void OnCreateRow(G324Parejas pareja)
    {
        if(pareja.J1 != pareja.J2 && pareja.J1 != pareja.J3 && pareja.J1 != pareja.J4 && 
            pareja.J2 != pareja.J3 && pareja.J2 != pareja.J4 && 
            pareja.J3 != pareja.J4 ) 
        {
            if (pareja == ParejaToInsert) ParejaToInsert = null;

            G324Parejas resultado = new G324Parejas();
            G300Azar AzarNew = new G300Azar
                {
                    Tarjeta = pareja.Tarjeta,
                    Creador = UserIdLog,
                    TipoAzar = "Bolitas",
                    Estado = 1,
                    Status = true
                };

            var UnAzar = await AzarIServ.AddAzar(AzarNew);
            pareja.Azar = UnAzar.Id;
            /*
            resultado = await BolitasVIServ.AddBolitas(Bolitas);
            await EscribirBitacoraUno(UserIdLog, BitaAcciones.Agregar, false,
                $"El usuario agrego un nuevo Extra {Bolitas.Id}");
            */
        } else
        {
            elMessage.Severity = NotificationSeverity.Error;
            elMessage.Summary = "Jugadores iguales";
            elMessage.Detail = "No se registro el Reto, por ser el mismo jugador ";
            elMessage.Duration = 3000;
        }


    }
    string elStyle = "width: 34px; height: 34px; padding:10px; color: #000; text-align: center; font: 12px Arial, sans-serif;";

    public void ShowNotification(NotificationMessage message)
    {
        NS.Notify(message);
    }
}
