@page "/admin/distancia/{banderaid:int}"

@inherits DistanciaBase
@using GolfV12.Shared;

<h3>Listado de Distancia de Hoyos del campo </h3>
@if (LasDistancias == null)
{
    <div class="spinner"></div>
} else
{
        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@($"/admin/distanciaedit/{BanderaId}")>
                <span class="oi oi-plus" aria-hidden="true"></span> Nuevo distancia para un hoyo  @if (BanderaId > 0) 
                        {<label>para el campo @ElCampo.Corto @ElCampo.Ciudad</label>} 
            </NavLink>
       </div>
        
<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" 
        PageSize="50" AllowPaging="true" AllowSorting="true" LogicalFilterOperator="LogicalFilterOperator.Or"
        Data="@LasDistancias" TItem="G178Distancia" >
        <Columns>
            <RadzenDataGridColumn TItem="G178Distancia" Property="Id" Title="Id" Width="60px" Frozen="true">
                <Template Context="data">
                    <label>@data.Id</label>
                    <RadzenLink Icon="edit" Path=@($"/admin/distanciaedit/{data.BanderaId}/{data.Id}") />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="G178Distancia" Property="Hoyo" Title="Hoyo" />
            <RadzenDataGridColumn TItem="G178Distancia" Property="Distancia" Title="Distancia" />

            <RadzenDataGridColumn TItem="G178Distancia" Property="BanderaId" Title="Bandera" >
                <Template Context="data">
                    @LaBandera.Color 
                </Template>
            </RadzenDataGridColumn>
            
            <RadzenDataGridColumn TItem="G178Distancia" Property="Fecha" Title="Fecha" FormatString="{0:d}" />
            
            <RadzenDataGridColumn TItem="G178Distancia"  Title="Estado" >
                <Template Context="data">
                     
                    @if(data.Status == false)
                    {
                        <RadzenBadge BadgeStyle="BadgeStyle.Danger" IsPill="true" Text="Registro Borrado"/> 
                    }
                </Template>
            </RadzenDataGridColumn>
            
        </Columns>
</RadzenDataGrid>
}

