@page "/admin/hoyo/{campoid:int}"
@inherits HoyoBase
@using GolfV12.Shared;

<h3>Listado de Hoyos del campo @ElCampo.Corto</h3>
@if (LosHoyos == null)
{
    <div class="spinner"></div>
} else
{
    <div class="form-grup row">        
        <div class="col-sm-9">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href=@($"/admin/hoyoedit/{CampoId}")>
                    <span class="oi oi-plus" aria-hidden="true"></span> Nuevo hoyo campo  
                </NavLink>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href=@($"/admin/campo/")>
                    <span class="oi oi-caret-left" aria-hidden="true"></span> Regresar al listado de campos           
                </NavLink>
            </div>
        </div>
    </div>
       
        
<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" 
        PageSize="50" AllowPaging="true" AllowSorting="true" LogicalFilterOperator="LogicalFilterOperator.Or"
        Data="@LosHoyos" TItem="G176Hoyo" >
        <Columns>
            <RadzenDataGridColumn TItem="G176Hoyo" Property="Id" Title="Id" Width="60px" Frozen="true">
                <Template Context="data">
                    <label>@data.Hoyo</label>
                    <RadzenLink Icon="edit" Path=@($"/admin/hoyoedit/{data.CampoId}/{data.Id}") />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="G176Hoyo" Property="CampoId" Title="Campo" Width="150px" Frozen="true">
                <Template Context="data">
                    @ElCampo.Corto @ElCampo.Ciudad 
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="G176Hoyo" Property="Ruta" Title="Ruta" />
            
            <RadzenDataGridColumn TItem="G176Hoyo" Property="Par" Title="Par" />
            <RadzenDataGridColumn TItem="G176Hoyo" Property="HcpHombres" Title="Hombres" />
            <RadzenDataGridColumn TItem="G176Hoyo" Property="HcpMujeres" Title="Mujeres" />
            <RadzenDataGridColumn TItem="G176Hoyo" Property="HcpMenores" Title="Menores" />
            <RadzenDataGridColumn TItem="G176Hoyo" Property="HcpOtros" Title="Otros" />
            
            <RadzenDataGridColumn TItem="G176Hoyo"  Title="Estado" >
                <Template Context="data">

                    @if(data.Status == false) 
                    {
                        <RadzenBadge BadgeStyle="BadgeStyle.Danger" IsPill="true" Text="Registro Borrado"/> 
                    }
                </Template>
            </RadzenDataGridColumn>
            
        </Columns>
</RadzenDataGrid>
}
-ttnka-