@page "/players/scores/{tarjetaId}"

@using GolfV12.Shared;

@inherits LosScoresBase



@if (LosScores.Any() && LosJugadores.Any() && DatosDic.Any())
{

    <RadzenCard>

    <div class="form-grup row">        
        <div class="col-sm-4">
            <div class="nav-item px-3">
                 <h3>La Tarjeta</h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="nav-item px-3">
                 <RadzenButton Icon="save" style="margin-bottom: 10px" Text="Cerrar la Tarjeta" 
                        Click="@(arg => ActualizarEstado(3))" Disabled=@(LaTarjeta.Creador != UserIdLog || LaTarjeta.Estado == 3) />
            </div>
        </div>        
        <div class="col-sm-4">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href=@($"/players/misdatos/")>
                            <span class="oi oi-caret-left" aria-hidden="true"></span> Regresar a lista tarjetas 
                        </NavLink>
            </div>
        </div>
    </div>

    </RadzenCard>
   
    <RadzenCard Style="width: 1500px">

        <RadzenAccordion Style="width: 1500px">
                <Items>
                    <RadzenAccordionItem Text="Captura" Icon="add_circle_outline">

                    </RadzenAccordionItem>
                    <RadzenAccordionItem Text="Orden" Icon="account_box">
                        <ElSort DatosDic=@DatosDic LosScores=@LosScores TarjetaId=@TarjetaId  />
                    </RadzenAccordionItem>
                    <RadzenAccordionItem Text="Bolitas" Icon="accessibility">
                    
                        <GolfV12.Client.Pages.players.retos.LasBolitas DatosDic=@DatosDic TarjetaId=@TarjetaId JugadoresDic=@JugadoresDic 
                                        LasBolitasDic=@LasBolitasDic />
                    </RadzenAccordionItem>
                </Items>
            </RadzenAccordion>
        </RadzenCard>           
        <RadzenButton Icon="save" Style="width: 800px margin-bottom: 10px" Text="Guardar los datos" 
                        Click="@(arg => Guardar())" Disabled=@(Calculando) />

    <RadzenDataGrid @ref="ScoreGrid" AllowFiltering="true" AllowPaging="true" PageSize="50" 
                AllowSorting="true" AllowColumnResize="true" Style="width: 1500px"
                RowRender="@RowRender" ExpandMode="DataGridExpandMode.Single" AllowGrouping="false"
                Data="@LosScores" TItem="TarjetaMolde">
                
        <Template Context="datos1">
 <!--
            <RadzenCard Style="margin-bottom:20px">
                Jugador:
                @if (@DatosDic.ContainsKey(@datos1.UserId))
                    { @DatosDic[$"Nombre_{datos1.UserId}"]; } 
                else 
                    {  <label>No hay nombre del jugador!</label>  };
            </RadzenCard>
 -->
            <RadzenTabs>
                <Tabs>
                    <RadzenTabsItem Text="Detalle de Apuesta ">
                        <MisBolitas DatosDic=@DatosDic TarjetaId=@TarjetaId ElPadreId=@datos1.UserId 
                                            LosScores=@LosScores LasBolitasDic=@LasBolitasDic />
                        
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Extras">
                        <RadzenDataList WrapItems="true" AllowPaging="true" Data="@LosScores" TItem="TarjetaMolde" PageSize="10">
                            <Template Context="datos2">
                                <RadzenCard Style="width:100px; height:100px">
                                    <h4 class="text-thin">Jugador</h4>
                                    <b>@datos2.UserId</b>
                                </RadzenCard>
                            </Template>
                        </RadzenDataList>
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </Template>
<!-- AQUI EMPIEZA REPORTE-->
        
        <Columns>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="Hcp" Title="Hcp" Width="60px" Filterable=false >
                
                <Template Context="datos" > 
                    @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="Hcp" TValue=int @bind-Value=@datos.Hcp ShowUpDown=false  Min=-5 Max=35 
                        Change="(arg => RenglonAddUpdateHcp(datos.HcpId, TarjetaId, datos.UserId, datos.Hcp))" />
                    }
                    else
                    {
                       <label style="
    width: 34px;
    height: 34px;
    padding:10px;
    background: #fff;
    border: 1px solid #000;
    color: #000;    
    text-align: center;
    font: 12px Arial, sans-serif;;">@datos.Hcp</label>
                       
                    }
                    

                </Template>
                
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="UserId" Title="Jugador" Width="150px">
                
                <Template Context="datos">
                    @DatosDic[$"Nombre_{datos.UserId}"]

                </Template>
                <FooterTemplate>
                    <table>
                        <tr>
                            <th><b>Par de Hoyo</b></th>
                        </tr>
                        <tr>
                            <th><b>Caballeros</b></th>
                        </tr>
                        
                    </table>
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H1" Title="H1" FormatString="{0:d}" 
            Width="60px" Filterable=false Sortable=false >
                
                <Template Context="datos"> 
                    @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H1" TValue=int @bind-Value=@datos.H1 ShowUpDown=false Min=0 Max=15  
                         Change="(arg => RenglonAddUpdate(1, datos.UserId, datos.H1, datos.H1Id ))" />
                    }
                    else
                    {
                        <div></div> 
                        <label style=" border-radius: 50%;
    width: 34px;
    height: 34px;
    padding:10px;
    background: #fff;
    border: 1px solid #000;
    color: #000;    
    text-align: center;
    font: 12px Arial, sans-serif;" >@datos.H1</label>
                    }
                       
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_1")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_1"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_1"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H2" Title="H2" FormatString="{0:d}" Width="60px" 
            Filterable=false Sortable=false>
                
                <Template Context="datos"> 

                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H2" TValue=int @bind-Value=@datos.H2 ShowUpDown=false Min=0 Max=15
                        Change="(arg => RenglonAddUpdate(2, datos.UserId, datos.H2, datos.H2Id ))" />
                    }
                    else
                    {
                        <label style=" border-radius: 50%;
    width: 34px;
    height: 34px;
    padding:10px;
    background: #fff;
    border: 1px solid #000;
    color: #02A30A;    
    text-align: center;
    font: 14px Arial, sans-serif;" > @datos.H2</label> 
                        
                    }

                    
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_2")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_2"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_2"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H3" Title="H3" FormatString="{0:d}" Width="60px" Filterable=false Sortable=false>
                
                <Template Context="datos"> 
                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H3" TValue=int @bind-Value=@datos.H3 ShowUpDown=false Min=0 Max=15
                        Change="(arg => RenglonAddUpdate(3, datos.UserId, datos.H3, datos.H3Id ))" />
                    }
                    else
                    {
                        <div> <label class="circulo">@datos.H3</label></div> 
                    }
                    
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_3")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_3"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_3"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H4" Title="H4" FormatString="{0:d}" Width="60px" Filterable=false Sortable=false>
                <Template Context="datos"> 
                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H4" TValue=int @bind-Value=@datos.H4 ShowUpDown=false Min=0 Max=15 
                        Change="(arg => RenglonAddUpdate(4, datos.UserId, datos.H4, datos.H4Id ))" />
                    }
                    else
                    {
                        <label class="circulo">@datos.H4</label>
                    }
                    
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_4")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_4"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_4"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H5" Title="H5" FormatString="{0:d}" Width="60px" Filterable=false Sortable=false>
                <Template Context="datos"> 
                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H5" TValue=int @bind-Value=@datos.H5 ShowUpDown=false Min=0 Max=15 
                        Change="(arg => RenglonAddUpdate(5, datos.UserId, datos.H5, datos.H5Id ))" />
                    }
                    else
                    {
                        @datos.H5
                    }
                    
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_5")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_5"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_5"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H6" Title="H6" FormatString="{0:d}" Width="60px" Filterable=false Sortable=false>
                <Template Context="datos"> 
                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H6" TValue=int @bind-Value=@datos.H6 ShowUpDown=false Min=0 Max=15 
                        Change="(arg => RenglonAddUpdate(6, datos.UserId, datos.H6, datos.H6Id ))" />
                    }
                    else
                    {
                        @datos.H6
                    }
                    
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_6")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_6"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_6"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H7" Title="H7" FormatString="{0:d}" Width="60px" Filterable=false Sortable=false>
                <Template Context="datos"> 
                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H7" TValue=int @bind-Value=@datos.H7 ShowUpDown=false Min=0 Max=15 
                        Change="(arg => RenglonAddUpdate(7, datos.UserId, datos.H7, datos.H7Id ))" />
                    }
                    else
                    {
                        @datos.H7
                    }
                    
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_7")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_7"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_7"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H8" Title="H8" FormatString="{0:d}" Width="60px" Filterable=false Sortable=false>
                <Template Context="datos"> 
                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H8" TValue=int @bind-Value=@datos.H8 ShowUpDown=false Min=0 Max=15 
                        Change="(arg => RenglonAddUpdate(8, datos.UserId, datos.H8, datos.H8Id ))" />
                    }
                    else
                    {
                        @datos.H8
                    }
                    
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_8")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_8"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_8"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H9" Title="H9" FormatString="{0:d}" Width="60px" Filterable=false Sortable=false>
                <Template Context="datos"> 
                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H9" TValue=int @bind-Value=@datos.H9 ShowUpDown=false Min=0 Max=15 
                        Change="(arg => RenglonAddUpdate(9, datos.UserId, datos.H9, datos.H9Id ))" />
                    }
                    else
                    {
                        @datos.H9
                    }
                    
                </Template>
                <FooterTemplate >
                    @if(DatosDic.ContainsKey("HoyoPar_9")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_9"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_9"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="F9" Title="F9" FormatString="{0:d}" Width="60px" Filterable=false >
                <Template Context="datos"> 
                    <b>@datos.F9</b>  
                </Template>
            
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H10" Title="H10" FormatString="{0:d}" Width="60px" Filterable=false Sortable=false >
                <Template Context="datos"> 
                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H10" TValue=int @bind-Value=@datos.H10 ShowUpDown=false Min=0 Max=15  
                         Change="(arg => RenglonAddUpdate(10, datos.UserId, datos.H10, datos.H10Id ))" />
                    }
                    else
                    {
                        @datos.H10
                    }
                    
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_10")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_10"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_10"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H11"  Title="H11" FormatString="{0:d}" Width="60px" Filterable=false Sortable=false >
                <Template Context="datos"> 
                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H11" TValue=int @bind-Value=@datos.H11 ShowUpDown=false Min=0 Max=15  
                         Change="(arg => RenglonAddUpdate(11, datos.UserId, datos.H11, datos.H11Id ))" />
                    }
                    else
                    {
                        @datos.H11
                    }
                    
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_11")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_11"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_11"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H12" Title="H12" FormatString="{0:d}" Width="60px" Filterable=false Sortable=false >
                <Template Context="datos"> 
                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H12" TValue=int @bind-Value=@datos.H12 ShowUpDown=false Min=0 Max=15  
                         Change="(arg => RenglonAddUpdate(12, datos.UserId, datos.H12, datos.H12Id ))" />
                    }
                    else
                    {
                        @datos.H12
                    }
                    
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_12")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_12"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_12"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H13" Title="H13" FormatString="{0:d}" Width="60px" Filterable=false Sortable=false >
                <Template Context="datos"> 
                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H13" TValue=int @bind-Value=@datos.H13 ShowUpDown=false Min=0 Max=15  
                         Change="(arg => RenglonAddUpdate(13, datos.UserId, datos.H13, datos.H13Id ))" />
                    }
                    else
                    {
                        @datos.H13
                    }
                    
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_13")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_13"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_13"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H14" Title="H14" FormatString="{0:d}" Width="60px" Filterable=false Sortable=false >
                <Template Context="datos"> 
                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H14" TValue=int @bind-Value=@datos.H14 ShowUpDown=false Min=0 Max=15  
                         Change="(arg => RenglonAddUpdate(14, datos.UserId, datos.H14, datos.H14Id ))" />
                    }
                    else
                    {
                        @datos.H14
                    }
                    
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_14")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_14"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_14"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H15" Title="H15" FormatString="{0:d}" Width="60px" Filterable=false Sortable=false >
                <Template Context="datos"> 
                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H15" TValue=int @bind-Value=@datos.H15 ShowUpDown=false Min=0 Max=15  
                         Change="(arg => RenglonAddUpdate(15, datos.UserId, datos.H15, datos.H15Id ))" />
                    }
                    else
                    {
                        @datos.H15
                    }
                    
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_15")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_15"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_15"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H16" Title="H16" FormatString="{0:d}" Width="60px" Filterable=false Sortable=false >
                <Template Context="datos"> 
                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H16" TValue=int @bind-Value=@datos.H16 ShowUpDown=false Min=0 Max=15  
                         Change="(arg => RenglonAddUpdate(16, datos.UserId, datos.H16, datos.H16Id ))" />
                    }
                    else
                    {
                        @datos.H16
                    }
                    
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_16")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_16"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_16"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H17" Title="H17" FormatString="{0:d}" Width="60px" Filterable=false Sortable=false >
                <Template Context="datos"> 
                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H17" TValue=int @bind-Value=@datos.H17 ShowUpDown=false Min=0 Max=15  
                         Change="(arg => RenglonAddUpdate(17, datos.UserId, datos.H17, datos.H17Id ))" />
                    }
                    else
                    {
                        @datos.H17
                    }
                    
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_17")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_17"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_17"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="H18" Title="H18" FormatString="{0:d}" Width="60px" Filterable=false Sortable=false >
                <Template Context="datos"> 
                     @if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "2" || 
                        (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] == "1" && 
                       @datos.UserId == UserIdLog))
                    {
                        <RadzenNumeric Name="H18" TValue=int @bind-Value=@datos.H18 ShowUpDown=false Min=0 Max=15  
                         Change="(arg => RenglonAddUpdate(18, datos.UserId, datos.H18, datos.H18Id ))" />
                    }
                    else
                    {
                        @datos.H18
                    }
                    
                </Template>
                <FooterTemplate>
                    @if(DatosDic.ContainsKey("HoyoPar_18")){
                    <table>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoPar_18"]</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@DatosDic["HoyoH_18"]</th>
                        </tr>
                        
                    </table>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TarjetaMolde" Property="B9"  Title="B9" FormatString="{0:d}" Width="60px"Filterable=false >
                <Template Context="datos"> 
                    <b>@datos.B9</b>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TarjetaMolde" Property="Total" Title="Total" FormatString="{0:d}" Width="60px" Filterable=false>
                <Template Context="datos"> 
                  <b>@datos.Total</b>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TarjetaMolde" Property="TotalHcp" Title="Neto F-B-T" FormatString="{0:d}" 
                                    Width="100px" Filterable=false>
                <Template Context="datos"> 
                   @($"{@datos.F9Hcp} {@datos.B9Hcp} {@datos.TotalHcp}")
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    <div> Birdie, Par, Bogie</div>
    <RadzenCard>
        <RadzenFieldset AllowCollapse="true" Text="Agrega Extras a la tarjeta">
            <HeaderTemplate>
            <span class="d-inline-flex align-items-center align-middle">
                <RadzenIcon Icon="account_box" Class="mr-1" /><b>Extras</b>
            </span>
        </HeaderTemplate>
        <ChildContent>
                <MisExtras DatosDic=@DatosDic LosJugadores=@LosJugadores LosExtras=@LosExtrasP 
                                            TarjetaId=@TarjetaId OnInsertExtra=@LeerExtras
                                            LaTarjeta=@LaTarjeta />  
        </ChildContent>
            <SummaryTemplate>
                <RadzenCard class="mt-3">
                    <b>Hay @LosExtrasP.Count() extras!! </b>
                </RadzenCard>
            </SummaryTemplate>
        </RadzenFieldset>
    </RadzenCard>  
   

} 

else
{
    <div class="spinner"></div>
}

--Tatanka--
@code {


    void RenglonAddUpdate(int hoyoT, string jugadorIdd, int scoredd, string iddd)
    {
        if (LaTarjeta.Estado != 3 )
        {
            if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] != "0")
            {
                Calculando = true;
                G520Score scoreTemp = new();
                scoreTemp.Estado = 2;
                scoreTemp.Player = jugadorIdd;
                scoreTemp.Hoyo = hoyoT;
                scoreTemp.Score = scoredd;
                scoreTemp.Tarjeta = TarjetaId;
                scoreTemp.Id = iddd;

                if (iddd.Count() < 10 )
                {
                    scoreTemp.Estado = 1;
                    scoreTemp.Id = ($"{TarjetaId}_{jugadorIdd}_{hoyoT}");   
                }

                ListaScores.Add(scoreTemp);


                ActualizarEstado(0);

                TotalesCal(scoreTemp.Player, scoreTemp.Hoyo, scoreTemp.Score, scoreTemp.Id);

                ElMesage.Severity = NotificationSeverity.Warning;
                ElMesage.Summary = "Tengo el dato!";
                ElMesage.Detail = "Necesitas dar Guardar!!";
                ElMesage.Duration = 1000;
                ShowNotification(ElMesage);
                Calculando = false;
            }
            else
            {
                ElMesage.Severity = NotificationSeverity.Warning;
                ElMesage.Summary = "No .. No .. no..!";
                ElMesage.Detail = "No tienes permiso para escribir!";
                ElMesage.Duration = 5000;
                ShowNotification(ElMesage);

                Calculando = false;
            }
        }
        else
        {
            ElMesage.Severity = NotificationSeverity.Warning;
            ElMesage.Summary = "Cerrado!";
            ElMesage.Detail = "Tarjeta Cerrada, no se actualiza!!!";
            ElMesage.Duration = 5000;
            ShowNotification(ElMesage);
            Calculando = false;
        }
    }

    async void Guardar()
    {
        await UpDateWrite("Add");
    }

    async void RenglonAddUpdateHcp(string hcpId, string hcpTarj, string hcpPlayer, int hcp) 
    {
        if (LaTarjeta.Estado != 3) 
        {
            if (DatosDic[$"PermisoEscribir_{TarjetaId}_Usuario_{UserIdLog}"] != "0")
            {
                G510Jugador jugadorTemp = new();
                jugadorTemp.Id = hcpId;
                jugadorTemp.Tarjeta = hcpTarj;
                jugadorTemp.Player = hcpPlayer;
                jugadorTemp.Hcp = hcp;

                var resp = await JugadorIServ.UpdateJugador(jugadorTemp);
                if (resp != null)
                {
                    await UpDateWrite("Hcp");
                }

                ElMesage.Severity = NotificationSeverity.Success;
                ElMesage.Summary = "HcPlayer!";
                ElMesage.Detail = "Se actualizo el Handy!";
                ElMesage.Duration = 2000;
                ShowNotification(ElMesage);
            }
            else
            {
                ElMesage.Severity = NotificationSeverity.Warning;
                ElMesage.Summary = "No .. No .. no..!";
                ElMesage.Detail = "No tienes permiso para escribir!";
                ElMesage.Duration = 5000;
                ShowNotification(ElMesage);
            }
        }
        else
        {
            ElMesage.Severity = NotificationSeverity.Warning;
            ElMesage.Summary = "Cerrado!";
            ElMesage.Detail = "Tarjeta Cerrada, no se actualiza!!!";
            ElMesage.Duration = 5000;
            ShowNotification(ElMesage);   
        }
    }

    void RowRender(RowRenderEventArgs<TarjetaMolde> args)
    {
        //args.Expandable = args.Data.ShipCountry == "France" || args.Data.ShipCountry == "Brazil";
    }
}

