@inherits MiHcpBase
@inject NotificationService NS
@using GolfV12.Shared;


<RadzenTemplateForm TItem="G128Hcp" Data=@ElHcp Submit=@AddHcp >
      <div class="form-grup row">
          <label for="fecha" class="col-sm-3 col-form-label">Fecha</label>
          <div class="col-sm-9">
                <RadzenDatePicker TValue="DateTime" @bind-Value=@ElHcp.Fecha DateFormat="d"  />
          </div>
      </div>

      <div class="form-grup row">
          <label for="campo" class="col-sm-3 col-form-label">Campo</label>
          <div class="col-sm-9">
                <RadzenDropDown Name="campo" AllowClear="false" Class="w-150"  AllowFiltering="true" Change="@FiltrarBanderas"
                        FilterCaseSensitivity="FilterCaseSensitivity.Default" FilterOperator="StringFilterOperator.Contains"  
                        Data="@LosCampos"  @bind-Value=ElCampo ValueProperty="Key" TextProperty="Value" 
                        Style="width:100%; display: block;">
<!--                    <Template>
                            <RadzenImage Path="@context.Photo" style="width: 20px; height: 20px; border-radius: 16px; margin-right: 6px;" />
                            @context.FirstName @context.LastName
                        </Template>
-->
                    </RadzenDropDown>
          </div>
      </div>


      <div class="form-grup row">
          <label for="bandera" class="col-sm-3 col-form-label">Bandera</label>
          <div class="col-sm-9">
                <RadzenDropDown Name="bandera" AllowClear="false" Class="w-150"  AllowFiltering="true"
                        FilterCaseSensitivity="FilterCaseSensitivity.Default" FilterOperator="StringFilterOperator.Contains"  
                        Data="@LasBanderas"  @bind-Value=ElHcp.BanderaId ValueProperty="Key" TextProperty="Value" 
                        Style="width:100%; display: block;">
<!--                    <Template>
                            <RadzenImage Path="@context.Photo" style="width: 20px; height: 20px; border-radius: 16px; margin-right: 6px;" />
                            @context.FirstName @context.LastName
                        </Template>
-->
                    </RadzenDropDown>
          </div>
      </div>
      
      <div class="form-grup row">
          <label for="hcp" class="col-sm-3 col-form-label">HcP</label>
          <div class="col-sm-9">
                <RadzenNumeric Name="Hcp" @bind-Value=@ElHcp.Hcp />
                <RadzenRequiredValidator Component="Hcp" Text="El Hcp va 0 a 40 y es requerido!" />
          </div>
      </div>

        <div class="form-grup row">
            <div class="col-sm-12">
                <NavLink class="nav-link" href="@($"/admin/hcp/")">Cancelar</NavLink>
                <RadzenButton ButtonType="ButtonType.Submit" Text="Agregar" /> 
            </div>
      </div>
        
    </RadzenTemplateForm>




@code {
    async void AddHcp()
    {
        await SaveHcp();
    }
    
}
